<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>预定表格</title>
    <title>test system</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/css/iframe-table.css">
</head>
<body>
<div class="row">
    <div class="col-xs-12 main brand-manage ">
        <form>
            <!--表身-->
            <div class="table-content-box-body">
                <table class="table table-striped table-tbody">
                    <tbody>
                    <tr>
                        <td width="50"><input type="checkbox" class="checkbox-tbody"/></td>
                        <td width="140">2015-06-26 00:00</td>
                        <td width="80">徐曹植</td>
                        <td width="120">13800138000</td>
                        <td width="150">广东外语外贸大学</td>
                        <td width="100">南区-13-424</td>
                        <td width="90">农夫山泉</td>
                        <td width="90">60</td>
                        <td class="static-red">2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

</body>
</html>